
/Programación/012-Inteligencia Artificial/008-entrenamiento/venv
/Programación/012-Inteligencia Artificial/009-entrenamiento dia 2/lora-cpu-lowram
/Programación/012-Inteligencia Artificial/009-entrenamiento dia 2/venv
